body{
	background-image: url(../image/45.jpg);
	background-size: 100%;\
	background-position: center;
}

.container{
	color: white;
	box-shadow: 5 10px;

}

h1,
a
{
	position: relative;
}

a{
	color: aqua;
	text-decoration: none;
	font-size: 16px;
}

a:hover{
	color:tomato;
	text-decoration: none;
}