html{
	position: relative;
}


.navbar{
	background-color: #313131	;
}


.jumbotron{
	color: white;
	
    height: 700px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax {
    /* The image used */
    /*background-image: url("../background/2.jpg");
*/
    /* Set a specific height */
  /*  min-height: 700px; */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

hr{
	width: 250px;
	border-top: 3px solid #999;
}


.portfolio {
	background-color: #eee;
}

.image img{
 	padding: 7px;
}

a{
	color: tomato;
	text-decoration: none;
}

a:hover{
	color: tomato;
	text-decoration: none;
}
